@charset "UTF-8";

table{
	width: auto;
	border-collapse: collapse;
	text-align: left;
}

td,th{
	font-size:10pt;
	border: 1px solid #0099ff;
	height: 30px;
	padding: 5px;
}

th{
	background-color:#0066ff;
	color: #ffffff;
	font-family: Georgia;
}

tr, td{
	color: #000000;
	background-color:#00ccff;
}

input{
	height: 25px;
	width:200px;
}

input[type="submit"], [type="reset"], [type="button"]{
	height: 25px;
	width:80px;]
}